body{
    background-image: url("../image/informatique.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body #listeSalle  {
    overflow-y:scroll;
    height: 80%;
    background-color: #6c757d;
}

body #listeSalleCard{
    margin-top: 20px;
}

div #connexion, #inscription, #modifier, #connecte, #ajouterPoste, #listePoste, #listeSallePoste {
    margin: 10px;
}